body {
	margin: auto;
	background-image: url(images/bg-body.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #E3F6F8;
	color: #000;
	width: 700px;
}

#container {
	background: white;
}

#header {
	height: 140px;
	line-height: 140px;
	background-image: url(images/bg-header.jpg);
	text-align: left;
	margin-top: 0px;
}

#option {
	height: 35px;
	line-height: 35px;
	text-align: left;
	background-image: url(images/bg-menu.png);
}

#option a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

#option a:hover {
	background-image: url(images/bg-menu-hover.png);
}

#left {
	background: white;
	margin: 0;
	float: left;
	width: 70%;
	position: relative;
}

#left h2 {
	color: #B2C23B;
}

#left img {
	margin-left: 10px;
}

#left p:last-child {
	display: inline;
	color: #55CDE8;
	margin-left: 0;
}

#right {
	float: left;
	width: 30%;
	position: relative;
}

#bg-feed {
	width: 180px;
	background-color: #ECECEC;
	margin-left: 15px;
}

#bg-feed p {
	margin-bottom: 0px;
	margin: 5px 5px;
}

#bg-feed hr {
	margin: 0;
}

#bg-sidebar-bottom {
	margin-top: 0px;
}

#right img {
	display: block;
	margin: auto;
}

#live-feed {
	position: absolute;
	margin-top: 0;
	display: block;
	margin-left: 55px;
}

#live-feed img {
	position: absolute;
	clip: rect(0px, 100px, 20px, 0);
	top: 0;
	width: 100px;
	height: 50px;
}

#footer {
	clear: both;
	height: 100px;
	background-image: url(images/bg-footer.jpg);
	text-align: left;
	color: white;
}

#footer p {
	margin-bottom: 0px;
	padding-top: 60px;
}

h1, h2, h3, p, a {
	margin: 0 15px 10px 15px;
	margin-top: 0px;
}

#right a {
	margin: 0;
}

#header h1 {
	margin: 0px 0 0 50px;
	color: darkgray;
	font-style: italic;
	font-weight: 400;
}

#live-feed img:hover {
	clip: rect(25px, 100px, 50px, 0);
	top: -25px;
}