body {
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
}

.content {
	margin: 0;
	padding: 0;
}

.top {
	top: 0;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #008B8B;
	text-align: left;
	margin-top: 0px;
	z-index: 100;
}

.top img {
	float: left;
	display: block;
	height: 60px;
	line-height: 60px;
}

.top h1 {
	color: #4CAF50;
	float: left;
	display: block;
	margin: 0;
	margin-left: 20px;
}

.clear {
	clear: both;
}

.left {
	left: 0;
	position: fixed;
	background-color: lightgray;
	height: 100%;
	margin-top: 60px;
	padding: 0;
}

.left ul {
	margin-top: 60px;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: lightgray;
	position: absolute;
	overflow: auto;
}

.left li a {
	height: 40px;
	line-height: 40px;
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 150%;
}

.left li a.active {
	background-color: #4CAF50;
	color: white;
}

.left li a:hover:not (.active ) {
	background-color: #555;
	color: white;
}

.mid {
	width: auto;
	margin-left: 200px;
	float: left;
}

#navi {
	margin-top: 60px;
	font-family: Sancoale Softened, sans-serif;
}

#navi ul {
	width: 1100px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

#navi li {
	float: left;
}

#navi li a, .dropbtn {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navi li a:hover:not (.active ), .dropdown:hover .dropbtn {
	background-color: darkgray;
}

#navi li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.active {
	background-color: #4CAF50;
}

.product {
	margin-left: 20px;
	margin-top: 20px;
}

.product p {
	font-size: 200%;
	margin: 0;
	margin-top: 30px;
	margin-left: 30px;
}

.productmini {
	background-color: white;
	margin-left: 30px;
	margin-top: 30px;
	border: 1px solid thin;
	float: left;
	width: 240px;
}

.productmini p {
	font-size: 150%;
	margin: 0;
	margin: auto;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.productmini p a {
	text-decoration: none;
}

.productmini img {
	margin: 20px;
	border-radius: 4px;
	height: 200px;
	width: 200px;
}

input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 60%;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '!';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.detail {
	
}

#dleft {
	float: left;
	width: 30%;
}

#dleft img {
	margin-left: 20px;
}

#dleft p {
	margin-top: 20px;
	margin-left: 20px;
}

#dright {
	float: right;
	width: 70%;
}

#dright p {
	margin: 0;
	margin-left: 50px;
	margin-right: 70px;
	padding: 0;
	font-size: 150%;
}

.ddetail {
	margin-left: 10px;
}

.ddetail img {
	margin: 10px;
	width: 245px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#login input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#login {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 500px) {
	body {
		width: auto;
		margin: 0;
		padding: 0;
		background-color: #F1F1F1;
	}
	.content {
		width: auto;
		margin: 0;
		padding: 0;
	}
	.top {
		top: 0;
		position: fixed;
		width: 500px;
		height: 60px;
		line-height: 60px;
		background: #008B8B;
		text-align: left;
		margin-top: 0px;
		z-index: 100;
	}
	.top img {
		float: left;
		display: block;
		height: 60px;
		line-height: 60px;
	}
	.top h1 {
		color: #4CAF50;
		float: left;
		display: block;
		margin: 0;
		margin-left: 20px;
	}
	.clear {
		clear: both;
	}
	.left {
		width: auto;
		background-color: lightgray;
		height: auto;
		margin-top: 60px;
		padding: 0;
		z-index: 100;
	}
	.left ul {
		position: relative;
		margin-top: 60px;
		height: 110px;
		width: auto;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: lightgray;
	}
	.left li a {
		text-align: left;
		width: 500px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
		font-size: 150%;
	}
	.left li a.active {
		background-color: #4CAF50;
		color: white;
	}
	.left li a:hover:not (.active ) {
		background-color: #555;
		color: white;
	}
	.mid {
		z-index: 1;
		position: absolute;
		margin-top: 175px;
		padding: 0;
		width: 100%;
		margin-left: 0;
		float: left;
	}
	#navi {
		position: relative;
		margin: 0;
		font-family: Sancoale Softened, sans-serif;
	}
	#navi ul {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;
	}
	#navi li {
		float: left;
	}
	#navi li a, .dropbtn {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	#navi li a:hover:not (.active ), .dropdown:hover .dropbtn {
		background-color: darkgray;
	}
	#navi li.dropdown {
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-content a:hover {
		background-color: #f1f1f1;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.active {
		background-color: #4CAF50;
	}
	.product {
		margin: 0;
	}
	.product p {
		font-size: 150%;
		margin: 0;
		margin-top: 30px;
		margin-left: 30px;
	}
	.productmini {
		background-color: white;
		margin-left: 30px;
		margin-top: 30px;
		border: 1px solid thin;
		float: left;
		width: 180px;
	}
	.productmini p {
		font-size: 150%;
		margin: 0;
		margin: auto;
		width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}
	.productmini p a {
		text-decoration: none;
	}
	.productmini img {
		margin: 20px;
		border-radius: 4px;
		height: 150px;
		width: 150px;
	}
	input[type=text] {
		width: 130px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: white;
		background-position: 10px 10px;
		background-repeat: no-repeat;
		padding: 12px 20px 12px 40px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}
	input[type=text]:focus {
		width: 250px;
	}
	.button {
		display: inline-block;
		border-radius: 4px;
		background-color: #f4511e;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
		width: 150px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 20px;
	}
	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	.button span:after {
		content: '!';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}
	.button:hover span {
		padding-right: 25px;
	}
	.button:hover span:after {
		opacity: 1;
		right: 0;
	}
	.detail {
		
	}
	#dleft {
		float: left;
		width: 100%;
	}
	#dleft img {
		margin: 20px;
	}
	#dleft p {
		margin: 0;
		margin-left: 20px;
	}
	#dright {
		float: right;
		width: 100%;
	}
	#dright p {
		margin: 0;
		margin-left: 20px;
		margin-right: 20px;
		padding: 0;
		font-size: 150%;
	}
	.ddetail {
		margin-left: 10px;
	}
	.ddetail img {
		margin: 10px;
		width: 200px;
	}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	#login input[type=text], select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	input[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
}