body {
	margin: 0;
	background-color: #FFFFFF;
}

#outer {
	width: 800px;
	color: #000000;
	text-align: left;
	margin: auto;
}

html>body #outer {
	height: auto;
}

#header {
	height: 50px;
	line-height: 50px;
	background: #909090;
	color: #000000;
}

#header h1 {
	margin: 0;
	margin-left: 10px;
}

#menu {
	margin: 0;
	position: relative;
	height: 50px;
	line-height: 50px;
	background: #0433FF;
	color: #000000;
}

#menu a {
	color: white;
	margin-left: 20px;
}

#menu p {
	margin: 0;
	color: red;
}

.left {
	position: relative;
	width: 250px;
	float: left;
}

.left ul {
	margin: 0;
}

#left-1 {
	height: 150px;
	background: #FFFB00;
}

#left-2 {
	height: 150px;
	background: #909090;
}

.right {
	position: relative;
	width: 550px;
	float: left;
	text-align: justify;
}

.right p {
	padding-left: 15px;
	padding-right: 15px;
}

#right-1 {
	background: white;
	width: 100%;
}

.right-2 {
	width: 100%;
	background: #008C00;
}

.right-2 p {
	padding-top: 15px;
}

#right-2a {
	height: 128px;
	float: left;
	width: 50%;
	background: #008C00;
}

#right-2b {
	height: 128px;
	float: left;
	width: 50%;
	background: #FF2600;
}

#footer {
	clear: both;
	height: 50px;
	line-height: 50px;
	background-color: #0433FF;
	text-align: center;
}