#demo-background {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#demo-background img {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	filter: blur(5px);
}
#front-box {
	position: absolute;
	top: 150px;
	margin-left: -300px;
	padding: 0;
	left: 50%;
	width: 600px;
	height: 400px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 3px 3px 5px #333;
}
p#front-box-header {
	padding-top: 20px;
	font-size: 40px;
	text-shadow: 2px 2px 4px black;
}
#front-box-top {
	width: 100%;
	height: 180px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	color: white;
	background-image: url("images/demo-front-box-background.jpg");
	background-position: center left;
}
#front-box-bottom {
	width: 100%;
	height: 220px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
}
a.square {
	display: inline-block;
	width: 140px;
	height: 140px;
	border: 1px solid #ccc;
	border-radius: 7px;
	float: left;
	margin: 20px 30px;
}
a.square:hover {
	text-decoration: none;
	background-color: green;
	color: white;
	border: 1px solid #999;
	box-shadow: 3px 3px 6px #ccc;
}
a.square img {
	padding: 20px 0px 28px 0px;
}
#front-box-bottom > p {
	font: 25px Cookie, Arial, san-serif;
	color: #555;
}