div#div-container {
	position: absolute;
	top: 25%;
	left: 7.5%;
	box-shadow: 3px 3px 25px 15px #333;
}
#left-panel, #right-panel {
	height: 600px;
	border: 1px solid black;
}
#left-panel {
		background-color: grey;
		background-image: url("images/left-panel-background.png");
		border-right: 5px dashed black;
}
#right-panel {

		background-image: url('../furniture-list/bg.jpg');
		border-left: none;
}
#left-panel-header {
	height: 200px;
	padding-top: 30px;
	font-weight: normal;
	font: 50px Cookie, Arial, serif;
	opacity: 0.9;
	text-align: center;
}

/*// Pham Thanh Tri*/
#d3 {
	display: none;
}


div#furniture-zone {
    width: 290px;
    padding: 10px 15px;
    height: 280px;
    overflow: scroll;
    overflow-x: hidden;
}

#canvas {
	width/*: 100%;
	height: 100%;*/
	border: 1px solid;
}

.draggable {
	border: 1px solid;
	margin: 5px;
}

select#furnitures {
    width: 232px;
    margin-left: 20px;
    border: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(255,255,0,0.3);
}

div#price-table {
    width: 250px;
    border: 1px solid;
    position: absolute;
    top: 115px;
    right: 80px;
    background-color: #fff;
    overflow: hidden;
    /* height: auto; */
}

thead {
    font-weight: 700;
}

p#total-price {
    display: inline;
    color: #f00;
    font-weight: 700;
}

td {
    width: 70px!important;
}

button#detail {
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}