#below-header {
	width: 100%;
	height: auto;
	padding: 40px 20%;
	background-color: #eff1f1;
	opacity: 0.9;
	font-weight: normal;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.p-big {
	font-size: 28px;
}
.p-small {
	font-size: 14px;
}
#container {
	width: 1200px;
	height: auto;
	overflow: auto;
	margin: 40px auto;
}
#container .idea-image {
	width: 31.5%;
	height: 300px;
	float: left;
	margin: 10px 10px;
	border: 1px solid black;
}
#container .idea-image:hover {
	box-shadow: 4px 4px 6px rgba(68,68,68,0.5);
	transition: 0.3s;
}

#container .idea-image img {
	width: 100%;
	height: auto;
}
#clearfix {
	clear:both;
}