div.container-fluid {
	padding: 0;
}
div.container-fluid img {
	width: 100%;
	height: auto;
	margin: 0;
}
div#adknowledge {
	width: 100%;
	height: 550px;
	position: absolute;
/*	border: 1px solid black;*/
	top: 270px;
	padding: 10px 15% 10px 30%;
}
div#adknowledge h2 {
	font: 60px Cookie, Arial, sans-serif;
	text-align: center;
}
div#adknowledge img {
	width: 200px;
	display: block;
	height: auto;
	margin: 0 auto;
}
div#adknowledge p {
	font-family: "Gentium Basic", serif;
	font-size: 1.4em;
	text-align: justify;
}
div#adknowledge a {
	font-weight: bold;
}
div#adknowledge #p-right {
	text-align: right;
	font-size: 1.1em;

}
div#adknowledge button {
	display: block;
	margin: 30px auto;
	font-family: Cookie, Arial, sans-serif;
	font-size: 35px;
}
div#adknowledge button:hover {
	box-shadow: 3px 3px 5px #bbb;
}