@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
	background-color: #eaf0f2;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#home-introduce {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 40px 20px 10px 20px;
	/*background-image: url("http://ecfcenter.com/wp-content/uploads/2016/08/design-your-home-interior-the-trend-designing-your-own-home-interior-cool-design-ideas-on-home-interior-perfect.jpg");*/
	/*background-image: url('images/background.jpg');*/
	background-image: url('images/background1.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	margin-bottom: 100px;
}
#home-introduce h1 {
	padding: 20px;
	font-size: 52px;
	text-shadow: 3px 3px 4px #555;
}
#home-introduce p {
	margin: 20px auto;
	margin-top: 20px;
	padding: 0 100px;
	font-size: 16px;
	font-style: italic;
}
#home-introduce #start-design {
	margin-top: 40px;
	padding: 5px 35px;
	box-shadow: 3px 4px 6px #222;
	font-size: 35px;
	font-family: Cookie, "Open Sans", Arial, sans-serif;
	color: #5383d3;
	transition: 0.8s;
}
#home-introduce #start-design:hover {
	background-color: #00e600;
	color: white;
}


h3#txt-below-intro {
	margin-bottom: 30px;
	padding: 10px 20%;
	line-height: 150%;
	font-family: "Gentium Basic", Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
}

hr {
	width: 400px;
	height: 1px;
	margin: 0px auto;
}

#below-hr {
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
	font-family: "Gentium Basic", sans-serif;
	opacity: 0.9;
}

div.step-container {
	text-align: center;
	width: 1000px;
	height: 360px;
	margin: 10px auto;
	margin-top: 80px;
	margin-bottom: 70px;
}

div.step-container a {
	text-decoration: none;
	color: black;
}
.step {
	display: block;
	width: 333px;
	height: auto;
	padding: 10px;
	padding-top: 200px;
	float: left;
}
.step h3 {
	font-size: 35px;
	font-family: Cookie, Arial, sans-serif;
	color: green;
}
.step span {
	opacity: 0.8;
}
#step1 {
	background: url('images/step1.jpg') center top no-repeat;
}
#step2 {
	background: url('images/step2.jpg') center top no-repeat;
}
#step3 {
	background: url('images/step3.jpg') center top no-repeat;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#above-carousel {
	text-align: center;
	margin: 70px 20px;
	font: 50px Cookie, Arial, sans-serif;
	opacity: 0.8;
}

footer {
	/*margin-top: 1px;*/
	height: 160px;
	background-color: #555;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
}

.footer-left {
	padding: 20px 100px;
	float: left;
}
.footer-left h3 {
	font-size: 250%;
	font-family: Cookie, Arial, sans-serif;
}
.footer-left h5 {
	font-family: "Gentium Basic", Arial, sans-serif;
	font-size: 1.1em;
}
.footer-right {
	padding: 20px 100px;
	float: right;
}
.footer-right h4 {
	padding-top: 20px;
}
#m1 {
	background: url('images/m1.png') center top no-repeat;
}
#m2 {
	background: url('images/m2.png') center top no-repeat;
}
#m3 {
	background: url('images/m3.png') center top no-repeat;
}