body {
	margin: auto;
	background-size: contain;
	background-color: #E3F6F8;
	color: #000;
	width: 900px;
}

#container {
	background: white;
}

#header {
	height: 60px;
	line-height: 60px;
	background-color: #ECECEC;
	text-align: left;
	margin-top: 0px;
}

#header h1 {
	margin: 0;
	color: #606060;
	font-style: italic;
	font-weight: 400;
}

#title {
	float: left;
	margin-left: 50px;
	color: black;
}

#follow {
	float: left;
	margin-left: 70px;
	color: black;
}

#follow a {
	margin: 0;
}

#search {
	float: right;
	margin-right: 50px;
	color: black;
}

#left {
	background: #DBE8F9;
	margin: 0;
	float: left;
	width: 160px;
	height: 800px;
	position: relative;
	border-right: 1px;
}

#left h2 {
	background-color: #E4001B;
	margin: 0;
	padding: 8px;
}

#left ul {
	background-color: #A5D1F3;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

#left li {
	padding: 8px;
	margin: 0;
}

.mid {
	float: left;
	width: 580px;
	height: 800px;
	position: relative;
	background-color: #8EDC9D;
}

.mid h2 {
	margin: 10px;
}

.products {
	border: 1px solid thin;
	float: left;
	display: inline-flexbox;
	width: 190px;
}

.products img {
	margin: 20px;
	padding: 0;
}

.price {
	margin: auto;
	margin-bottom: 2px;
	text-align: center;
}

button {
	display: block;
	width: 80px;
	margin: auto;
	margin-bottom: 2px;
}

.leftContent {
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;
	height: 400px;
}

.rightContent {
	float: right;
	width: 50%;
	padding: 0;
	margin: 0px;
	height: 400px;
	text-align: justify;
}

.rightContent h2 {
	margin: 0;
	padding: 0;
}

.imageContent {
	float: left;
	margin: 20px;
	padding: 0;
}

.smallImageContent {
	float: left;
	margin: 15px;
	padding: 0px;
}

.smallImageContent img {
	margin: 5px;
	padding: 0px;
}

.theContent {
	float: right
}

.buyNow {
	display: block;
	padding: 20px;
	width: 150px;
	position: absolute;
	padding: 0;
	bottom: 420;
	left: 350;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-bottom: 0px;
	display: block;
	text-align: center;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.description {
	clear: both;
	float: left;
	margin: 20px;
	padding: 0;
	text-align: justify;
}

#right {
	float: left;
	width: 160px;
	height: 600px;
	position: relative;
	background-color: #FA6121;
}

#right img {
	display: block;
	margin: auto;
}

#footer {
	clear: both;
	height: 100px;
	text-align: center;
	background-color: #6194BC;
}

#footer p {
	display: inline-block;
	margin-top: 20px;
}

#footer a {
	display: inline-block;
}

input {
	border-radius: 25px;
	background: #FFF;
	padding: 2px 5px;
	width: 200px;
	height: 30px;
	border: 0px solid #000;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

ul
.pagination
 
li
 
a
:hover
:not
 
(
.active
 
)
{
background-color
:
 
#ddd
;


}
#menu {
	margin-top: 30px;
	float: right;
}

/* Media Queries */
@media only screen and (max-width: 780px) {
	body {
		width: 768px;
	}
	#right {
		display: none;
	}
}

@media only screen and (max-width: 490px) {
	body {
		width: 480px;
	}
	#header {
		width: 480px;
		height: 120px;
	}
	#search {
		margin: auto;
		float: left;
		width: 100%;
	}
	#search input {
		width: 100%;
	}
	.mid {
		width: 480px;
		height: auto;
	}
	#right {
		display: none;
	}
	#left {
		width: 100%;
		height: 100%;
	}
	#left ul {
		display: none;
	}
	#left h2 {
		text-align: center;
	}
	#left h2:hover+ul {
		text-align: center;
		display: block;
	}
	.leftContent {
		width: 100%;
		float: left;
		height: auto;
	}
	.rightContent {
		margin: 20px;
		clear: both;
		float: left;
		width: 100%;
		height: auto;
	}
	.buyNow {
		float: left;
		margin: auto;
		padding: 0;
		left: 300;
		bottom: 800;
	}
}

@media only screen and (max-width: 330px) {
	body {
		width: 320px;
	}
	#header {
		width: 320px;
		height: 120px;
	}
	#search {
		margin: auto;
		float: left;
		width: 100%;
	}
	#search input {
		width: 100%;
	}
	.mid {
		width: 320px;
		height: auto;
	}
	#right {
		display: none;
	}
	#left {
		width: 100%;
		height: 100%;
	}
	#left ul {
		display: none;
	}
	#left h2 {
		text-align: center;
	}
	#left h2:hover+ul {
		text-align: center;
		display: block;
	}
	.leftContent {
		width: 100%;
		float: left;
	}
	.rightContent {
		margin: 20px;
		clear: both;
		float: left;
		width: 100%;
	}
	.buyNow {
		float: left;
		width: 100%;
		margin: auto;
		padding: 0;
		left: 0;
		bottom: 300;
	}
}